body{
    padding-left: 40px !important;
}
.voz_living_top_bar{
    width: 40px;
    position: fixed;
    top:0;
    left: 0;
    background: #333;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    color: #fff;
    height: 100%;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 1;
}
#voz_living_backdrop{
    display: none;
    position: fixed;
    top:0;
    z-index: -1;
    left:0;
    width: 100vw;
    height: 100vh;
    cursor: default;;
}
