<div class="voz_living_quote_noti5_list">
    <ul v-if="quotes.length > 0">
        <li v-for="q in quotes">
            <div class='noti5-quote-item data-item'>
                <div class="quote-item-thread" title="{{q.thread.title}}">
                    <strong>
                        <a href="showthread.php?t={{q.thread.id}}">
                            <span>{{q.thread.title}}</span>
                        </a>
                    </strong>
                </div>
                <div class="quote-item-post">
                    <a href="showthread.php?p={{q.post.id}}#post{{q.post.id}}">
                        {{q.post.content}}
                    </a>
                </div>
                <div class="quote-item-bottom">
                    By
                    <a class="quote-item-author">
                        ({{q.author.username}})
                    </a>
                    on {{q.post.datetime | datetime}}
                    <div class="quote-item-action">
                        <a href="showthread.php?p={{q.post.id}}#post{{q.post.id}}" target="_blank" title="Open in new tab"><i class="fa fa-share"></i></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div v-else>
        <h2>There is no quotes yet or being loaded</h2>
    </div>
</div>
